/***** BASE STYLE *****/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    background-color: #DAF7F6;
    color: #3B3B3B;
    display: grid;
    font-family: 'Open Sans';
    font-size: 1em;
    grid-template-columns: repeat(16, 1fr);
    line-height: 16px;
    margin: 0;
}

/***** HEADER *****/

header {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    grid-column: 1 / -1;
    justify-content: center;
    padding: 20px 0;
}

h1 {
    color: #F16059;
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 1.66em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

header img {
    margin: 0 10px;
    width: 21.5px;
}

/***** RECIPES *****/

.cook, .prep, .total {
    border: 1px solid #3B3B3B;
    transition: all 0.5s ease-in-out;
}

.cook:hover, .prep:hover, .total:hover {
    background-color: #3B3B3B;
    color: #fff;
}

main {
    grid-column: 2 / -2;
    margin: 25px 0;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column-reverse;
    margin: 20px 0;
    width: 100%;
}

.columns {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.image {
    flex: 1;
}

.image > img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.recipe ol, .recipe ul {
    line-height: 25px;
    padding-left: 15px;
}

.recipe ul {
    list-style-type: square;
}

.recipe {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 10px 32px;
}

.recipe h2 {
    color: #F16059;
    font-family: 'Montserrat';
    font-size: 1.33em;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}

.recipe h3 {
    color: #F16059;
    border: 1px #3B3B3B;
    border-style: solid none;
    font-size: 1.166em;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}

.time {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-transform: uppercase;
}

.time div {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    padding: 0 10px;
}

.time img {
    height: auto;
    margin: 0 5px 0 0;
    width: 15px;
}

/***** DESKTOP *****/

@media (min-width: 1024px) {
    
    /***** HEADER *****/

    h1 {
        font-size: 4em;
    }

    header img {
        margin: 0 20px;
        width: 43px;
    }

    /***** RECIPËS *****/

    main {
        margin: 35px 0;
    }
    
    .card {
        flex-direction: row;
    }

    .card:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .columns {
        flex-flow: row;
    }
    
    .directions {
        width: 65%;
    }

    .ingredients {
        box-sizing: border-box;
        margin-right: 15px;
        width: 35%;
    }
    
    .recipe {
        padding: 40px;
    }

    .recipe h2 {
        font-size: 2em;
    }

}

@media (min-width: 1200px) {

    /***** RECIPËS *****/

    .cook {
        border-style: solid none;
    }

    .time {
        justify-content: center;
    }

    .time div {
        margin: 0;
    }

}